:root {  --color-neutral: 255,255,255;  #white
  /*slate*/
  --color-neutral-50: 248, 250, 252;
  --color-neutral-100: 241, 245, 249;
  --color-neutral-200: 226, 232, 240;
  --color-neutral-300: 203, 213, 225;
  --color-neutral-400: 148, 163, 184;
  --color-neutral-500: 100, 116, 139;
  --color-neutral-600: 71, 85, 105;
  --color-neutral-700: 51, 65, 85;
  --color-neutral-800: 30, 41, 59;
  --color-neutral-900: 15, 23, 42;
/*sky*/
--color-secondary-50: 240, 249, 255;
--color-secondary-100: 224, 242, 254;
--color-secondary-200: 186, 230, 253;
--color-secondary-300: 125, 211, 252;
--color-secondary-400: 56, 189, 248;
--color-secondary-500: 14, 165, 233;
--color-secondary-600: 2, 132, 199;
--color-secondary-700: 3, 105, 161;
--color-secondary-800: 7, 89, 133;
--color-secondary-900: 12, 74, 110;
/*orange*/
--color-primary-50: 255, 247, 237;
--color-primary-100: 255, 237, 213;
--color-primary-200: 254, 215, 170;
--color-primary-300: 253, 186, 116;
--color-primary-400: 251, 146, 60;
--color-primary-500: 249, 115, 22;
--color-primary-600: 234, 88, 12;
--color-primary-700: 194, 65, 12;
--color-primary-800: 154, 52, 18;
--color-primary-900: 124, 45, 18;
}
